{%  extends 'scishare/base.html' %}
{% load static %}
{% block body_block %}

<style>
	.pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
		float: right;
	}

</style>

<h2 style="text-align: center">
	Your Profile
<img class="pic" src="{{ request.user.userprofile.picture.url }}" align="right" >
</h2>


<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{uform.as_p}}

	<input class="btn btn-primary" type="submit" name="Update Information">
</form>
<li><a href="{% url 'scishare:password_reset' %}">Reset Password</a></li>
<br/>


{% endblock %}