<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <title>
        SciShare -
        {% block title_block %}
        {% endblock %}
    </title>
</head>

<body>
{% if user.is_authenticated %}
<!-- Side navigation -->
<div class="sidenav">
    {% block sidebar_block %}
        <a href="{% url 'scishare:categories' %}">Categories</a>
        <a href="{% url 'scishare:most_liked' %}">Most Liked</a>
        <a href="{% url 'scishare:groups' %}">My Groups</a>
        {% if request.path != "/scishare/"%}
        <a href = "{% url 'scishare:home' %}">Home Page</a>
        {% endif %}
    {% endblock %}
</div>
{% endif %}
<!-- Top navigation -->
{% block top_block %}
{% if user.is_authenticated %}
    {% if request.path == "/scishare/" or request.path == "/"%}
<div class="top">
    <li><a href="{% url 'scishare:logout' %}">Logout</a></li>
    <li><a href="{% url 'scishare:userAccount' %}">Account Settings</a></li>
    <li><b>Logged in: {{ user.username }}</b></li>
</div>
    {% endif %}
{% else %}
<div class="top">
    <li><a href="{% url 'scishare:register' %}">Sign Up</a></li>
    <li><a href="{% url 'scishare:login' %}">Login</a></li>
</div>
{% endif %}
{% endblock %}

<!-- Page content -->
<div class = "main">
    {% block body_block %}
        This is body_block's default content.
    {% endblock %}
</div>
</body>
</html>