{% extends 'scishare/base.html' %}
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
{% block body_block %}
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if studies %}
            <ul>
                {% for study in studies %}
                <a href="{{study.url}}">{{ study.title}}</a><br>
                    Up votes: {{ study.up_votes}}<br>
                    Down votes: {{ study.up_votes}}<br>
                <form action="{% url 'scishare:add_study_to_group' %}">
     		    <input type="hidden"
            	    name="study" value = {{ study.id }}>
     		    <input type="submit"
            	    value="Add Study to Group">
			    </form>
			<br>

                {% endfor %}
            </ul>
            {% else %}
            <h2><strong>There are no studies present.</strong></h2>
            {% endif %}
        {% else %}
            <h2><strong>The specified category does not exist.</strong></h2>
        {% endif %}

{% endblock %}
{% block top_block %}
<div class="top">
    <li><a href="{% url 'scishare:add_study' category.slug %}">Add a Study</a></li>
</div>
{% endblock %}